@{
    ViewBag.Title = "Um síðuna";
}
<div class="about">
    <h2>@ViewBag.Title</h2>
    @Html.Partial("navigationbar")

    <h2>Stofnendur</h2>
    <img src="http://i91.photobucket.com/albums/k305/sjon2/10346900_10203627639711508_1797830612_a_zps086a3fe0.jpg" alt="Andri" class="image">

    <img src="http://i91.photobucket.com/albums/k305/sjon2/10331578_10203627640431526_1040114759_a_zps31e40260.jpg" alt="Ólafur Helgi" class="image">

    <img src="http://i91.photobucket.com/albums/k305/sjon2/10346900_10203627640751534_1865027713_a_zps0f9f91ee.jpg" alt="Ólafur Ívar" class="image">

    <img src="http://i91.photobucket.com/albums/k305/sjon2/10331527_10203627641151544_527555055_a_zps30f18f67.jpg" alt="Sigurjón" class="image">

    <img src="http://i91.photobucket.com/albums/k305/sjon2/10338941_10203627641471552_1546092725_a_zpscb010ecb.jpg" alt="Sveinn" class="image">
    <p>Andri Fannar Freysson Ólafur Helgi Jónsson Ólafur Ívar Jónsson Sigurjón Rúnar Vikarsson Sveinn Henrik Kristinsson</p>

    <h3 id="Um">Um Vefsíðuna</h3>
    <p>
        Vefsíðan er gerð af fimm nemendum í tölvunarfræði í Háskóla Reykjavíkur sem liður í 3.vikna lokaverkefni á 1.ári.

        Hún er hugsuð fyrir fólk sem vill notast við skjátexta við myndefni sem það horfir á.

        Á  vefsíðunni munu  notendur hafa aðgang að sérstökum skrám  á .srt formi sem  innihalda þýðingar. Notendur

        geta skoðað allar þær skrár sem eru til, flokkað þær  eftir tegund  efnis, dagsetningu sem efni var sett inn o.s.frv.

        Einnig geta allir notendur skoðað lista af  þeim  þýðingum sem eru í vinnslu, auk þess geta innskráðir notendur haldið

        áfram að vinna í þeim skrám.
    </p>
</div>
<address>
    Virkjun mannauðs á Reykjanesi<br />
    Flugvallarbraut 740, 235 Reykjanesbæ<br />
    Sími:
    845-2031
</address>

<address>
    <strong>Kvartanir:</strong>   <a href="mailto:textTV-kvartanir@email.is">textTV-kvartanir@email.is</a><br />
    <strong>Hafðu samband:</strong> <a href="mailto:textTV@email.is">textTV@email.is</a>
</address>

