@{
    ViewBag.Title = "Hjálparsíða";
}
    <div class="hjalp">

    <h2>@ViewBag.Title</h2>



    @Html.Partial("navigationbar")
        <div class="questions">
            <h2>Hvað hefur þú áhuga á að vita um?</h2><br />
            <a href="#Um">Um Vefsíðuna?</a><br />
            <a href="#Ná">Að ná í skrá?</a><br />
            <a href="#Beiðni">Að búa til beiðni</a><br />
            <a href="#Skrá">Að skrá sig inn?</a><br />
            <a href="#Búa">Að búa til skrá?</a><br />
            <a href="#Breyta">Að breyta skrá?</a><br />
            <a href="#Tengja">Tengja srt skrá við spilarann?</a><br />
        </div>
    <h4 id="Ná">Að ná í srt skrá</h4>

    <ol>
        <li>
            <p>Ein leið er að leita að ákveðinni skrá þá 1. Skrifarðu leitarorð inn í leitarboxið á forsíðunni, 2. velur þann flokk sem þú vilt leita í og 3. ýtir svo á leita takkan.</p>
            <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/3vikna/myndfyrirhjaacutelparsiacuteethu_zps4d0a73b1.png" alt="upload file">
            <p>Eftir að þú ýtir á leitartakkan ætti að koma tafla með niðurstöðum úr leitinni annaðhvort skilar leitin árangri eða þú færð skilaboð engar niðurstöður fundust. Ef þú hefur fengið einhverja skrá upp í töfluna þá getur þú ýtt á örina undir sækja og þá niðurhalast skráin til þín.</p>
            <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/niethurstoumlethutaflafyrirhjaacutelparsiacuteethu_zpsbf1380d2.png" alt="upload file">
        </li>
        <li>
            <p>Önnur leið er að ýta á Skjátexti á forsíðunni.</p>
            <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/mynd2fyrirhjaacutelparsiacuteethu_zpsa83c89ac.png" alt="upload file2">
            <p>Þá færðu upp töflu með öllum skjátextum sem eru til úr öllum flokkum. Ef þú finnur einhverja skrá sem þú hefur áhuga á, ýtirðu á örina við þann reit sem þú vilt og þá byrjar ferlið að sækja skránna.</p>
            <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/niethurstoumlethutafla2fyrirhjaacutelparsiacuteethu_zps6f55c381.png" alt="upload file2">
        </li>
    </ol>
        <h4 id="Beiðni">Að búa til beiðni</h4>
        
        <ol>
            <li>
                <p>Til að búa til beiðni um að þýða texta þá ýtirðu fyrst á Beiðnir</p>
                    <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/forsiacuteethafyrirbeiethnir_zpse7e93de5.png" alt="request" />
                <p>Þá færðu upp lista með skrám, ef skráin sem þú vilt láta þýða er í listanum geturðu kosið hana og þá geta allir séð hvað er vinsælast og farið þá að vinna í því. Undir listanum er takkinn Ný beiðni, þú ýtir á hann og þá ferðu yfir á aðra síðu.</p>
                    <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/niethurstoumlethutaflafyrirbeiethnir_zps965bc21f.png" alt="request" />
                <p>Þar inni er form sem á að fylla út. Hafðu nafnið á beiðninni sama og nafn myndarinnar/þáttarins sem beiðnin á við, settu útgáfuár myndarinnar/þáttarins, veldu hvaða flokk skráin á að fara í og svo skrifarðu dagsetninguna á þeim degi sem skráin var sett inn.
            Eftir að búið er að fylla út ýtir þú á choose file og nærð í skrána í tölvunni þinni og ýtir á senda.</p>
                <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/Nyacutejarbeiethnir_zps71aed981.png" alt="request" />
            </li>
        </ol>
    <h4 id="Skrá">Að skrá sig inn</h4>
    <ol>
        <li>
            <p>Ef þú vilt skrá þig inn þá ferðu upp í hægra hornið og ýtir á Nýskráning.</p>
            <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/Nyacuteskraacuteningarmyndfyrirhjaacutelparsiacuteethu_zps7b00ebfd.png" alt="register">
        </li>
        <li>
            <p>Inni í nýskráningu færðu upp form sem þú verður að fylla út. Verður að fylla út í alla reitina og lykilorð má ekki vera styttra en 6 stafir. Sem innskráður notandi hefurðu aðgang að meiri möguleikum á síðunni</p>
            <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/Nyacuteskraacuteningarformfyrirhjaacutelparsiacuteethu_zps0cc4c3d8.png" alt="register">
        </li>
        <li>
            <p>Ef þú átt aðgang að síðunni ferðu upp í hægra hornið og ýtir á innskráning.</p>
            <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/innskraacuteningarmyndfyrirhjaacutelparsiacuteethu_zps2f982a75.png" alt="login">

        </li>
        <li>
            <p>Inni í innskráningunni kemur form sem þú fyllir út með notandanafninu og lykilorði sem þú valdir þegar þú nýskráðir.</p>
            <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/innskraacuteningarformfyrirhjaacutelparsiacuteethu_zps7b92419a.png" alt="login" />
        </li>
    </ol>
    <h4 id="Búa">Að búa til skrá</h4>
    <ol>
        <li>
            <p>Þú þarft að vera innskráður notandi til þess að búa til skrá. Þegar þú ert orðinn skráður notandi ýtirðu á skjátextar á forsíðunni.</p>
            <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/forsiacuteethafyrirnyacutejaskjaacutetexta_zps8ea5a8b3.png" alt="screentext" />
        </li>
        <li>
            <p>Inn í skjátextar kemur upp listi með skrám og fyrir neðan listan er takki sem stendur á Nýr skjátexti, ýttu á hann.</p>
            <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/niethurstoumlethutafla2fyrirnyacutejaskjaacutetexta_zps67a1a79e.png" alt="screentext" /> 
        </li>
        <li>
            <p>Það leiðir þig inn á form sem á að fylla út. Hafðu nafnið á skránni sama og nafn myndarinnar/þáttarins sem skráin á við, settu útgáfuár myndarinnar/þáttarins, veldu hvaða flokk skráin á að fara í og svo skrifarðu dagsetninguna á þeim degi sem skráin var sett inn.
            Eftir að búið er að fylla út ýtir þú á choose file og nærð í skrána í tölvunni þinni og ýtir á senda. </p>
            <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/skraacutenyacutejanskjaacutetexta_zpsbb0f0e75.png" alt="screentext" /> 
        </li>
    </ol>
        <h4 id="Breyta">Að breyta skrá</h4>
        <ol>
            <li>
                <p>Til að breyta skrá verður þú að vera innskráður. Ef þú ert innskráður þá ýtirðu á skjátextar.</p>
                <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/forsiacuteethafyrirnyacutejaskjaacutetexta_zps8ea5a8b3.png" alt="edit" />
            </li>
            <li>
                <p>Þá færðu upp lista með skrám ef þú finnur í listanum skrána sem þú villt breyta ýtirðu á hana.</p>
                <img src="http://i1264.photobucket.com/albums/jj491/ivarinn/niethurstoumlethutaflafyrirbreytaskjaacutetexta_zps39d085d5.png" alt="edit" />
            </li>
            <li>
                <p>Þá byrtist textaskrá með enskum texta og það er þitt að þýða textan yfir á íslensku.</p>
                <img src="" alt="edit" />
            </li>
        </ol>

    <h4 id="Tengja">Tengja srt skrá við spilarann</h4>
    <p>Þú kanski veist að það er ekki nóg að niðurhala síðunni þú verður líka að tengja srt skrána við myndina sem þú vilt horfa á og ef þú fylgir þessum reglum að neðan verður það ekkert mál. Við ætlum að nota þátt númer 18 úr þáttaröð 6 í "The Mentalist" okkur til hjálpar</p>
    <ol>
        <li>
            <p>Fyrsta sem þú gerir er að búa til tóma möppu.</p>
            <img src="http://i91.photobucket.com/albums/k305/sjon2/10330892_10203640652276814_159350659_o_zpsdf11446b.jpg" alt="Búa til skrá">
        </li>
        <li>
            <p>Þú skírir svo möppuna eitthvað sem tengist kvikmyndinni/þættinum, t.d. myndum við skíra hana The Mentalist S06 E18.</p>
            <img src="http://i91.photobucket.com/albums/k305/sjon2/10350195_10203640655516895_217687866_o_zps0faa682c.jpg" alt="Skýra skrá">
        </li>
        <li>
            <p>Næst finnur þú kvikmyndina/þáttinn sem þú niðurhalaðir og vilt fá skjátexta fyrir. Sem er hjá okkur The Mentalist.</p>
            <img src="http://i91.photobucket.com/albums/k305/sjon2/10342144_10203640656636923_1445429754_o_zps9c15348c.jpg" alt="Finna skjal">
        </li>
        <li>
            <p>Þú færir þá kvikmyndina/þáttinn í nýju möppuna okkar. The Mentalist S06 E18</p>
            <img src="http://i91.photobucket.com/albums/k305/sjon2/10343948_10203640655796902_1702136563_o_zps73aa16b9.jpg" alt="Færa mynd/þátt">
        </li>
        <li>
            <p>Næst færir þú srt skrána í The Mentalist S06 E18</p>
            <img src="http://i91.photobucket.com/albums/k305/sjon2/10342298_10203640656436918_1303775153_o_zps4e6d0833.jpg" alt="Færa srt">
        </li>
        <li>
            <p>Nú hefur þú kvikmyndina/þáttinn og srt skrána í sömu möppu, The Mentalist S06 E18</p>
            <img src="http://i91.photobucket.com/albums/k305/sjon2/10343948_10203640656796927_378383151_o_zps79deb8bc.jpg" alt="Skrár saman">
        </li>
        <li>
            <p>Núna opnar þú VLC spilarann þinn</p>
            <img src="http://i91.photobucket.com/albums/k305/sjon2/10332876_10203640657676949_1530042903_o_zps08de40d2.jpg" alt="Opna Spilara">
        </li>
        <li>
            <p>Þá ferðu aftur í möppuna sem þú varst að búa til, hjá okkur The Mentalist S06 E18</p>
            <img src="http://i91.photobucket.com/albums/k305/sjon2/10332935_10203640658716975_2126139562_o_zps9458c6a5.jpg" alt="Opnar nýju skrána">
        </li>
        <li>
            <p>Þú dregur svo kvikmyndina/þáttinn inn í VLC spilarann, kvikmyndinn/þátturinn þarf að vera á undan</p>
            <img src="http://i91.photobucket.com/albums/k305/sjon2/10340482_10203640659516995_150093976_o_zpsa907a2ba.jpg" alt="Dregur mynd í spilaran">
        </li>
        <li>
            <p>Næst dregur þú srt skrána í VLC spilaran</p>
            <img src="http://i91.photobucket.com/albums/k305/sjon2/10350216_10203640659156986_1587009767_o_zps07c97248.jpg" alt="Srt dreginn í spilaran">
        </li>
        <li>
            <p>TIL HAMINGJU!! Núna getur þú horft á þáttinn þinn með skjátexta</p>
            <img src="http://i91.photobucket.com/albums/k305/sjon2/10356081_10203643997960454_1861254178_o_zps40ef1637.jpg" alt="Mynd með skjátexta">
        </li>
    </ol>
</div>