@{
    ViewBag.Title = "Hjálparsíða";
}
    <div class="hjalp">
    <h2>@ViewBag.Title</h2>

        

        @Html.Partial("navigationbar")

        <h2>Hvað hefur þú áhuga að vita um?</h2><br />
        <a href="#Um">Um Vefsíðuna?</a><br />
        <a href="#Ná">Að ná í skrá?</a><br />
        <a href="#Skrá">Að skrá sig inn?</a><br />
        <a href="#Búa">Að búa til skrá?</a><br />
        <a href="#Tengja">Tengja srt skrá við spilaran?</a><br />
      
        <h4 id="Ná">Að ná í skrá</h4>
        <p>Einna sem þú vilt gera er að leita af þeirri mynd sem þú vilt fá skjátexta undir og ýtta á örina til hægri og þá byrjar hún að niðurhalast</p>

        <h4 id="Skrá">Að skrá sig inn</h4>
        <p>Til þess að skrá sig þarftu bara að fara upp í hægra hornið og ýtta á "skrá sig inn" og svo filla inn í kröfurnar. Þegar þú ert búinn skrá þig opnast ýmsir valkostir</p>

        <h4 id="Búa">Að búa til skrá</h4>
        <p>Þú þarft að vera innskráður notandi til þess að búa til skrá. Þegar þú ert orðinn skráður notandi ferð þú í "BÚATILNÝTT,(kanski mynd)" Þar hefur þú valmöguleikana að setja inn útlenska srt skrá, getur þýtt beint eftir texta, eða að búa til glænýja, sem þú byrjar alveg frá grunni.</p>
        <h4 id="Tengja">Tengja srt skrá við spilaran</h4>
        <p>Þú kanski veist að það er ekki nóg að niðurahala síðuni þú verður líka að tengja srt skrána við myndinna sem þú vilt horfa á og ef þú fylgir þessu reglum að neðan verður það ekkert mál. Við ætlum að nota þátt númer 18 úr þáttaröð 6 í "The Mentalist" okkur til hjálpar</p>
        <ol>
            <li><p>Fyrsta sem þú gerir er að búa til tóma skrá.</p>
                <img src="http://i91.photobucket.com/albums/k305/sjon2/10330892_10203640652276814_159350659_o_zpsdf11446b.jpg" alt="Búa til skrá"></li>
            <li><p>Þú skírir svo skrána eitthvað sem tengist kvikmyndinni/þáttinum, t.d. myndum við skíra hana The Mentalist S06 E18.</p>
                <img src="http://i91.photobucket.com/albums/k305/sjon2/10350195_10203640655516895_217687866_o_zps0faa682c.jpg" alt="Skýra skrá"></li>
            <li><p>Næst finnur þú kvikmyndina/þáttinn sem þú vilt fá skjátexta fyrir sem er hjá okkur The Mentalist.</p>
                <img src="http://i91.photobucket.com/albums/k305/sjon2/10342144_10203640656636923_1445429754_o_zps9c15348c.jpg" alt="Finna skjal"></li>
            <li><p>Þú færir þá kvikmynd/þáttinn í nýju skrána okkar. The Mentalist S06 E18</p>
               
             </li>
            <li>Þú verður svo að skíra myndirnar það sama t.d. ef myndinn þínn heitir Bravehart.avi þarf srt-ið að heita Bravehart.srt</li>
            <li>Næst opnaru auðan VLC player eða Quick player og dregur skrána, með báðum fileunum inní, inní playerinn og þá spilast myndinn með texta.</li>
        </ol>
    </div>