@{
    ViewBag.Title = "Hjálparsíða";
}
    <div class="hjalp">
    <h2>@ViewBag.Title</h2>
        <div id="navbar2">
            <ul>
                <img src="http://png-1.findicons.com/files/icons/1580/devine_icons_part_2/512/home.png" alt="home" id="navhome">
                <li><span class="item1">@Html.ActionLink("Skjátexti", "ScreenText", "Home")</span></li>
                <li><span class="item2">@Html.ActionLink("Beiðni", "Request", "Home")</span></li>
                <li><span class="item3"><a href="#">Prófíll</a></span></li>
                <li><span class="item4">@Html.ActionLink("Hjálp", "Contact", "Home")</span></li>
                <li><span class="item5"><a href="#">About</a></span></li>
            </ul>
        </div>
        <h2>Hvað hefur þú áhuga að vita um?</h2>
        <ol class="tengir">
            <li><a href="#Ná">Að ná í skrá</a></li>
            <li><a href="#Skrá">Að skrá sig inn</a></li>
            <li><a href="#Búa">Að búa til skrá</a></li>
            <li><a href="#Tengja">Tengja srt skrá við spilaran</a></li>
        </ol>
    
        <h4 id="Ná">Að ná í skrá</h4>
        <p>Einna sem þú vilt gera er að leita af þeirri mynd sem þú vilt fá skjátexta undir og ýtta á örina til hægri og þá byrjar hún að niðurhalast</p>

        <h4 id="Skrá">Að skrá sig inn</h4>
        <p>Til þess að skrá sig þarftu bara að fara upp í hægra hornið og ýtta á "skrá sig inn" og svo filla inn í kröfurnar. Þegar þú ert búinn skrá þig opnast ýmsir valkostir</p>

        <h4 id="Búa">Að búa til skrá</h4>
        <p>Þú þarft að vera innskráður notandi til þess að búa til skrá. Þegar þú ert orðinn skráður notandi ferð þú í "BÚATILNÝTT,(kanski mynd)" Þar hefur þú valmöguleikana að setja inn útlenska srt skrá, getur þýtt beint eftir texta, eða að búa til glænýja, sem þú byrjar alveg frá grunni.</p>
        <h4 id="Tengja">Tengja srt skrá við spilaran</h4>
        <p>Þú kanski veist að það er ekki nóg að niðurahala síðuni þú verður líka að tengja srt skrána við myndinna sem þú vilt horfa á og ef þú fylgir þessu reglum að neðan verður það ekkert mál.</p>
        <ol>
            <li>Fyrsta sem þú gerir er að búa til tóma skrá sem þú getur skírt eftir myndinn þinni</li>
            <li>Næst tekur srt file-inn og færir hana í tómu skrána</li>
            <li>Þú tekur næst myndina þína og færir hana í sömu skrá og srt file-inn</li>
            <li>Þú verður svo að skíra myndirnar það sama t.d. ef myndinn þínn heitir Bravehart.avi þarf srt-ið að heita Bravehart.srt</li>
            <li>Næst opnaru auðan VLC player eða Quick player og dregur skrána, með báðum fileunum inní, inní playerinn og þá spilast myndinn með texta.</li>
        </ol>
    </div>