@{
    ViewBag.Title = "Hjálparsíða";
}
    <div class="hjalp">
    <h2>@ViewBag.Title</h2>
        <div id="navbar2">
            <ul>
                <img src="http://png-1.findicons.com/files/icons/1580/devine_icons_part_2/512/home.png" alt="home" id="navhome">
                <li><span class="item1">@Html.ActionLink("Skjátexti", "ScreenText", "Home")</span></li>
                <li><span class="item2">@Html.ActionLink("Beiðni", "Request", "Home")</span></li>
                <li><span class="item3"><a href="#">Prófíll</a></span></li>
                <li><span class="item4">@Html.ActionLink("Hjálp", "Contact", "Home")</span></li>
                <li><span class="item5"><a href="#">About</a></span></li>
                <li><span class="item6"><a href="#">&nbsp;</a></span></li>
            </ul>
        </div>
        <h2>Hvað hefur þú áhuga að vita um?</h2><br />
        <a href="#Um">Um Vefsíðuna?</a><br />
        <a href="#Ná">Að ná í skrá?</a><br />
        <a href="#Skrá">Að skrá sig inn?</a><br />
        <a href="#Búa">Að búa til skrá?</a><br />
        <a href="#Tengja">Tengja srt skrá við spilaran?</a><br />
      
        <h2>Stofnendur</h2>
        <img src="http://i91.photobucket.com/albums/k305/sjon2/10346900_10203627639711508_1797830612_a_zps086a3fe0.jpg" alt="Andri" class="image">
     
        <img src="http://i91.photobucket.com/albums/k305/sjon2/10331578_10203627640431526_1040114759_a_zps31e40260.jpg" alt="Ólafur Helgi" class="image">
       
        <img src="http://i91.photobucket.com/albums/k305/sjon2/10346900_10203627640751534_1865027713_a_zps0f9f91ee.jpg" alt="Ólafur Ívar" class="image">
        
        <img src="http://i91.photobucket.com/albums/k305/sjon2/10331527_10203627641151544_527555055_a_zps30f18f67.jpg" alt="Sigurjón" class="image">
       
        <img src="http://i91.photobucket.com/albums/k305/sjon2/10338941_10203627641471552_1546092725_a_zpscb010ecb.jpg" alt="Sveinn" class="image">
        <p>Andri Fannar Freysson Ólafur Helgi Jónsson Ólafur Ívar Jónsson Sigurjón Rúnar Vikarsson Sveinn Henrik Kristinsson</p>
        <h3>Ef þú ert ekki að skilja hvernig síðan okkar virkar myndi ég halda áfram að lesa</h3>
        <h4 id="Um">Um Vefsíðuna</h4>
        <p>
            Vefsíðan er gerð af íslensku fyrirtæki og er þar af leiðandi hugsuð aðallega fyrir Íslendinga. 

            Vefsíðan verður samt sem áður  einnig  aðgengileg  á  ensku. Á  vefsíðunni munu  notendur hafa aðgang að 

            sérstökum skrám  á .srt formi sem  innihalda þýðingar. Notendur  geta skoðað allar þær skrár sem eru til, 

            flokkað þær  eftir tegund  efnis, dagsetningu sem efni var sett inn o.s.frv. Einnig geta allir notendur skoðað 

            lista af  þeim  þýðingum sem eru í vinnslu, auk þess geta innskráðir notendur haldið áfram að vinna í þeim 

            skrám. Vefsíðan  er  aðallega hugsuð fyrir  þá sem skilja ekki tungumálið sem efnið er á, og einnig þá sem 

            nota skjátexta sér til þæginda. 
        </p>

        <h4 id="Ná">Að ná í skrá</h4>
        <p>Einna sem þú vilt gera er að leita af þeirri mynd sem þú vilt fá skjátexta undir og ýtta á örina til hægri og þá byrjar hún að niðurhalast</p>

        <h4 id="Skrá">Að skrá sig inn</h4>
        <p>Til þess að skrá sig þarftu bara að fara upp í hægra hornið og ýtta á "skrá sig inn" og svo filla inn í kröfurnar. Þegar þú ert búinn skrá þig opnast ýmsir valkostir</p>

        <h4 id="Búa">Að búa til skrá</h4>
        <p>Þú þarft að vera innskráður notandi til þess að búa til skrá. Þegar þú ert orðinn skráður notandi ferð þú í "BÚATILNÝTT,(kanski mynd)" Þar hefur þú valmöguleikana að setja inn útlenska srt skrá, getur þýtt beint eftir texta, eða að búa til glænýja, sem þú byrjar alveg frá grunni.</p>
        <h4 id="Tengja">Tengja srt skrá við spilaran</h4>
        <p>Þú kanski veist að það er ekki nóg að niðurahala síðuni þú verður líka að tengja srt skrána við myndinna sem þú vilt horfa á og ef þú fylgir þessu reglum að neðan verður það ekkert mál.</p>
        <ol>
            <li>Fyrsta sem þú gerir er að búa til tóma skrá sem þú getur skírt eftir myndinn þinni</li>
            <li>Næst tekur srt file-inn og færir hana í tómu skrána</li>
            <li>Þú tekur næst myndina þína og færir hana í sömu skrá og srt file-inn</li>
            <li>Þú verður svo að skíra myndirnar það sama t.d. ef myndinn þínn heitir Bravehart.avi þarf srt-ið að heita Bravehart.srt</li>
            <li>Næst opnaru auðan VLC player eða Quick player og dregur skrána, með báðum fileunum inní, inní playerinn og þá spilast myndinn með texta.</li>
        </ol>
    </div>