@model _3vikna.Models.EditSub
@{
    ViewBag.Title = "EditSub";
}

<h2>EditSub</h2>
@Html.Partial("navigationbar")


@using (Html.BeginForm())
{
<ul class="list-group">
    <li class="list-group-item">    
        <span class="badge" id="sub">14</span>
        @for (int i = 0; i < Model.lines.Length; i++)
        {
            @Html.LabelFor(model => model.lines, @Html.Raw("<input type='text' value=" + Model.lines[i] +"> '<br/>"));
            
        }
        

         <input type="submit" value="Senda" class="btn btn-default" />

</ul>
}

