
@{
    ViewBag.Title = "Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="request">
    <h2>@ViewBag.Title</h2>
    <div id="navbar">
        <ul>
            <li><span class="item4">@Html.ActionLink("Beiðni", "Request", "Home")</span></li>
            <li><span class="item2"><a href="#">Skjátexti</a></span></li>
            <li><span class="item3"><a href="#">Prófíll</a></span></li>
            <li><span class="item1"><a href="#">Hjálp</a></span></li>
        </ul>
    </div>

</div>
    <table border="1">
    <thead>
        <tr>
            <th class="head">Myndir</th>
            <th class="head">Útgáfuár</th>
            <th class="head">Dagsetning</th>
            <th class="head">Staða</th>
            <th class="head">Kjósa</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="row1">John doe</td>
            <td class="row1">johndoe@example.com</td>
            <td class="row2">Computer Science</td>
            <td class="row2">555 4321</td>
            <td class="row2"><img src="photo.png" alt="photo" /></td>
        </tr>
        <tr>
            <td class="row1">John doe</td>
            <td class="row1">johndoe@example.com</td>
            <td class="row2">Computer Science</td>
            <td class="row2">555 4321</td>
            <td class="row2"><img src="photo.png" alt="photo" /></td>
        </tr>
        <tr>
            <td class="row1">John doe</td>
            <td class="row1">johndoe@example.com</td>
            <td class="row2">Engineering</td>
            <td class="row2">555 4321</td>
            <td class="row2"><img src="photo.png" alt="photo" /></td>
        </tr>
        <tr>
            <td class="row1">John doe</td>
            <td class="row1">johndoe@example.com</td>
            <td class="row2">Engineering</td>
            <td class="row2">555 4321</td>
            <td class="row2"><img src="photo.png" alt="photo" /></td>
        </tr>

    </tbody>
</table>		

