
@{
    ViewBag.Title = "Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="request">
    <h2>@ViewBag.Title</h2>
    <div id="navbar">
        <ul>
            <li><span class="item4">@Html.ActionLink("Beiðni", "Request", "Home")</span></li>
            <li><span class="item2"><a href="#">Skjátexti</a></span></li>
            <li><span class="item3"><a href="#">Prófíll</a></span></li>
            <li><span class="item1"><a href="#">Hjálp</a></span></li>
        </ul>
    </div>
<<<<<<< HEAD
</div>
=======
    <table border="1">
    <thead>
        <tr>
            <th class="head">Myndir</th>
            <th class="head">Útgáfuár</th>
            <th class="head">Dagsetning</th>
            <th class="head">Staða</th>
            <th class="head">Kjósa</th>
        </tr>
    </thead>
    <tbody>
            <tr id="Tafla1">
                <td class="row1"><img src="photo.png" alt="photo" />John doe</td> <!--er ad vinna herna ANDRI-->
                <td class="row1">2014</td>
                <td class="row2">12.02.14</td>
                <td class="row2">555 4321</td>
                <td class="row2"><img src="photo.png" alt="photo" /></td>
            </tr>
            <tr id="Tafla2">
                <td class="row1"><img src="photo.png" alt="photo" />John doe</td>
                <td class="row1">2014</td>
                <td class="row2">12.02.14</td>
                <td class="row2">555 4321</td>
                <td class="row2"><img src="photo.png" alt="photo" /></td>
            </tr>
            <tr id="Tafla1">
                <td class="row1"><img src="photo.png" alt="photo" />John doe</td>
                <td class="row1">2014</td>
                <td class="row2">12.02.14</td>
                <td class="row2">555 4321</td>
                <td class="row2"><img src="photo.png" alt="photo" /></td>
            </tr>
        <tr id="Tafla2">
            <td class="row1"><img src="photo.png" alt="photo" />John doe</td>
            <td class="row1">2014</td>
            <td class="row2">12.02.14</td>
            <td class="row2">555 4321</td>
            <td class="row2"><img src="photo.png" alt="photo" /></td>
        </tr>
    </tbody>
</table>		
>>>>>>> d580643641bfd4acb32d95bca435dc521634458a
