@model IEnumerable<_3vikna.Models.Subtitles>
@{
    ViewBag.Title = "ScreenText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="screentext">
    <h2>Skjátextar</h2>

    @Html.Partial("navigationbar")

    @Html.Partial("Searchpartial")


    <table id="RequestTable">
        <thead>
            <tr id="RequestTableHeader">
                <th class="head"></th>
                <th class="head">Myndir</th>
                <th class="head">Útgáfuár</th>
                <th class="head">Athugasemdir</th>
                <th class="head">Sækja</th>
            </tr>
        </thead>
        <tbody id="Table1">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="row3"> <img src="http://content.clearchannel.com/cc-common/mlib/589/05/589_1369232682.jpg" id="picturesize" alt="photo" /></td>
                    <td class="row1">@item.MediaName</td>
                    <td class="row1">@item.YearPublished</td>
                    <td class="row2">VANTAR_MYND</td>
                    <td class="row2"><img src="https://fbcdn-photos-h-a.akamaihd.net/hphotos-ak-prn2/v/t34.0-11/10306971_578242318958052_2069168489_t.jpg?oh=43193cddb8a7557e26de3eddd40328e9&oe=536C8873&__gda__=1399612150_e7214f058f835ec492b617185e261525" alt="photo" /></td>
                </tr>
            }
        </tbody>

    </table>
</div>

<div id="RequestButton">
    @if (User.Identity.IsAuthenticated)
    {
        <form action="http://localhost:65081/Home/NewScreenText">
            <input type="submit" value="Nýr Skjátexti">
        </form>
    }
</div>
