
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@Html.Partial("navigationbar")

@Html.Partial("Searchpartial")

<table id="RequestTable">
    <thead>
        <tr id="RequestTableHeader">
            <th class="head"></th>
            <th class="head">Myndir</th>
            <th class="head">Útgáfuár</th>
            <th class="head">Dagsetning</th>
            <th class="head">Staða</th>
            <th class="head">Kjósa</th>
        </tr>
    </thead>
    <tbody id="Table1">
        <tr>
            <td class="row3"></td>
            <td class="row1"></td> <!--er ad vinna herna ANDRI-->
            <td class="row1"></td>
            <td class="row2"></td>
            <td class="row2"></td>
            <td class="row2"></td>
        </tr>
        <tr>
            <td class="row3"></td>
            <td class="row1"></td> <!--er ad vinna herna ANDRI-->
            <td class="row1"></td>
            <td class="row2"></td>
            <td class="row2"></td>
            <td class="row2"></td>
        </tr>
        <tr>
            <td class="row3"></td>
            <td class="row1"></td> <!--er ad vinna herna ANDRI-->
            <td class="row1"></td>
            <td class="row2"></td>
            <td class="row2"></td>
            <td class="row2"></td>
        </tr>
        <tr>
            <td class="row3"></td>
            <td class="row1"></td> <!--er ad vinna herna ANDRI-->
            <td class="row1"></td>
            <td class="row2"></td>
            <td class="row2"></td>
            <td class="row2"></td>
        </tr>
    </tbody>
</table>