@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Villa";
}

<h1 class="text-danger">Villa</h1>
<h2 class="text-danger">Villa kom upp þegar beiðni þínn var keyrð.</h2>
<h3>Getur verið að þetta eigi við þig?</h3>
<ul>
    <li>
        <p>Ef þú slóst slóðina beint inn. Gæti verið að síðan virkar ekki þegar slóðin er sleginn</p>
    </li>
    <li>
        <p>Skjátextinn sem þú ert að leita af getur hafa verið tekkinn af síðuni</p>
    </li>
    <li>
        <p>Gæti verið að þú setir skrá sem var ekki mynd inní uplodeið fyrir myndir</p>
    </li>
    <li>
        <p>Gleymdir þú að setja srt fyrir nýjan skjátexta</p>
    </li>
</ul>
