
<div id="navbar2">
    <ul>
        <img src="http://png-1.findicons.com/files/icons/1580/devine_icons_part_2/512/home.png" alt="home" id="navhome">
        <li><span class="item1">@Html.ActionLink("Skjátexti", "ScreenText", "Home")</span></li>
        <li><span class="item2">@Html.ActionLink("Beiðni", "Request", "Home")</span></li>
        <li><span class="item3">@Html.ActionLink("Prófíll", "Manage", "Account")</span></li>
        <li><span class="item4">@Html.ActionLink("Hjálp", "Contact", "Home")</span></li>
        <li><span class="item5"><a href="#">About</a></span></li>
        <li><span class="item6"><a href="#">&nbsp;</a></span></li>
    </ul>
</div>