
<div id="search">
            Leita:
            <input type="text" name="search" size="40" value="" />
            <select>
                <option value="0">(Öllum flokkum)</option>
                <option value="1">Kvikmyndir</option>
                <option value="2">Þættir</option>
                <option value="3">Annað</option>
            </select>
            <b>Birta: </b>
            Ókláraðar Þýðingar <input type="checkbox" name="oklarad" value="4" />
            Ísl Texta <input type="checkbox" name="Islenska" value="5" />
            Eng Texta <input type="checkbox" name="Enska" value="6" />   
           <span >
               <a href="http://localhost:65081/Home/Search">
                   <input type="submit" value="Leita!">
               </a>
           </span>
        
</div>
