body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    background-color: white; /*SRV*/
}
.{
        background-color: black; /*SRV*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* styles for validation helpers */
.field-validation-error {
    color: black;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid black;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: black;
}

.validation-summary-valid {
    display: none;
}
#main{
    padding: 2em;
    padding-bottom: 20em;
    /*border-style:solid;
    border-width:2px;
    border-radius: 20px;
    background-color: white;*/
}
