body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 2em;
    padding-bottom: 0em;
    padding-top: 0em;
    background-color: white; /*SRV*/
    min-height: 90em;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: black;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid black;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: black;
}

.validation-summary-valid {
    display: none;
}
/*þetta er svo að navbarinn sýni hvar maður er SRV*/
.hjalp #navbar2 li .i4 a{
 color: black;
 height:auto;
  background : -webkit-gradient(linear, left top, left bottom, from(rgb(180,180,180)), to(rgb(40,40,40)));
}
.screentext #navbar2 li .i1 a{
 color: black;
 height:auto;
  background : -webkit-gradient(linear, left top, left bottom, from(rgb(180,180,180)), to(rgb(40,40,40)));
}
.request #navbar2 li .i2 a{
 color: black;
 height:auto;
 background : -webkit-gradient(linear, left top, left bottom, from(rgb(180,180,180)), to(rgb(40,40,40)));
}
/*þetta er svo að navbarinn sýni hvar maður er SRV*/
#navbar2{
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    list-style-type: none; 
    border-radius: 5px;
}

#navbar2 img{
    max-height:1.8em;
    max-width:2em;
    position:relative;
    float:left;
    margin-left: 1em;
    margin-right: 1em;
}

#navbar2 ul{
    padding: 0px;
}

#navbar2 li{
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

#navbar2 li a{
     margin-right: 0em;
     margin-left: 0em;
     color: white;
     font-weight:300;
     font-size:1.4em;
     text-decoration:none;
     display: inline-block;
}
#navbar2 li .item a{

    width: 10.1em;
    text-align:center;
}

#navbar2 li a:hover{
    color: black;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(180,180,180)), to(rgb(40,40,40)));
}

#navbar2 #navhome {
    max-height:1.8em;
    max-width:1.8em;
    float:left;
    margin-left: 3em;
}

#logo h1 a{
    position: relative;
    color: black;
    margin-left: 2em;
    width: 3em;
}

#logo h1 a:hover{
    text-decoration:none;
}

#login{
   padding-right: 4em;
}
#login a{
   color: black;
}
#login a:hover{
    background-color:black;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    color: white;
}

#search form{
   position: relative;
   padding-top: 1em;
   padding-left: 9em;
   padding-right: 9em;
   margin-left:auto;
   margin-right:auto;
}
.image{

    margin-left:5px;
    margin-right:5px;
    text-align:center;
}

.noDotsInMainPageList{
    list-style: none;
}

#picturesize{
    
    max-width: 50px;
    max-height: 40px;
}

#RequestTableHeader{

    background-color: black;
    color:white;
    font-size: 14px;
    text-align:center;
     
}

#Table1{
    background-color:rgb(242,242,242);
}

#RequestTable{
    width:50%;
    position:relative;
    left:300px;
    right:auto;
    bottom:auto;
    border:2px solid black;
}

.tengir{

    text-decoration:none;
    list-style-type:none;
}

.tengir li a{
    text-decoration:none;
    color:black;
    font-size:15pt;
}

#RequestButton{
    margin-left: 780px;
    padding: 2px;
}