body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    background-color: white; /*SRV*/
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* styles for validation helpers */
.field-validation-error {
    color: black;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid black;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: black;
}

.validation-summary-valid {
    display: none;
}
/*
body{
     padding: 2em;
     padding-bottom: 20em;
     padding-top: 0em;
}



.forsida{

    padding: 2em;
    padding-bottom: 20em;
    padding-top: 0em;
    /*border-style:solid;
    border-width:2px;
    border-radius: 20px;
    background-color: white;
}*/
.hjalp {
    padding: 2em;
    padding-bottom: 20em;
    padding-top: 0em;
}
.hjalp #navbar li .item4 a{
 color: black;
 height:auto;
}
#navbar{
    clear: both;
    /*padding: .5em 1em;*/
    background-color: gray;
    list-style-type: none; 
    border-radius: 5px;
}

#navbar li{
   margin-left: auto;
    margin-right: auto;
    display: inline;

}
#navbar li a{
     margin-right: 3em;
     margin-left: 3em;
     color: white;
     font-weight:300;
     font-size:2em;
     text-decoration:none;
}
#navbar li a:hover{
    color: black;
}
#logo h1 a{
    position: relative;
    color: black;
    margin-left: 2em;
    width: 3em;
}
#logo h1 a:hover{
    text-decoration:none;
}
#login{
   padding-right: 4em;
}
#login a{
   color: black;
}
#search form{
   position: relative;
   padding-top: 1em;
   padding-left: 9em;
   padding-right: 9em;
   margin-left:auto;
   margin-right:auto;
}

.image{

    margin-left:5px;
    margin-right:5px;
    text-align:center;
}
.noDotsInMainPageList{
    list-style: none;
}

#BeidniTaflaHeader{

    background-color: black;
    color:white;
    font-size: 14px;
    text-align:center;
     
}
#Tafla1{
    background-color:rgb(242,242,242);
     
}

#Tafla2{
    background-color: rgb(242,242,242);
}

#BeidniTafla{
    width:50%;
    position:relative;
    left:300px;
    right:auto;
    bottom:auto;
    border:2px solid black;
}

/*.row{
    padding-top: 40px;
    position:relative;
}
    */
